body {
    height: 100vh;
    overflow: hidden;
    font-family: roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {

    display: flex;
    background-color: #ff5943;
    padding: 5px 30px;
}

.navigation {
    flex: 1;
    border: 2px solid white; /* remove, only for styling*/ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #ffffff;

}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main {
    display: flex;
    justify-content: center;
    border: 2px solid black; /*remove, for debugging*/
}

.hero {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-img img {
    width: 400px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 20px;
}

button {
    font-size: 20px;
    font-weight: 900;
    padding: 10px 30px; 
    background: #ff5943;
    border: none;
    border-radius: 10px;
}

.hero-button button {
    color: white;
    
}

.cta-container button {
    color: white;
    
}

.info {
    display: flex;
    border: 2px solid black; /*remove, for debugging*/
    
}
.card img {
    width: 150px;
}

.quote {
    border: 2px solid black; /*remove, for debugging*/

}

.call {
    border: 2px solid black; /*remove, for debugging*/

}